global:
  scrape_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: "docker-host-alpha"

# A scrape configuration containing exactly one endpoint to scrape.
scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "sffl-operator"
    scrape_interval: 5s
    static_configs:
      - targets: ["near-sffl-operator:9091"]
        labels:
          role: "operator"
          instance: "0"

# TODO: add metrics to indexer