[submodule "contracts/evm/lib/forge-std"]
	path = contracts/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/evm/lib/eigenlayer-middleware"]
	path = contracts/evm/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
[submodule "submodules/rollup-data-availability"]
	path = submodules/rollup-data-availability
	url = https://github.com/taco-paco/rollup-data-availability.git
