# Tagged release for SFFL containers
SFFL_RELEASE=latest

# NEAR chain ID
NEAR_CHAIN_ID=testnet

# Path to the directory containing the keys for the relayer DA account
NEAR_KEYS_DIR=~/.near-credentials

# RPC URL of the NEAR network
NEAR_RPC_URL=https://rpc.testnet.near.org